@font-face {
	font-family: "katwijk-mono";
	src: url("fonts/katwijk-mono-regular.woff2") format("woff2");
	font-weight: normal;
}

@font-face {
	font-family: "katwijk-mono-bold";
	src: url("fonts/katwijk-mono-bold-web.woff2") format("woff2");
	font-weight: bold;
}

@font-face {
	font-family: "union-gothic";
	src: url("fonts/union_gothic.woff2") format("woff2-variations");
	font-weight: 100 900;
}


body {
    font-family: "katwijk-mono", serif;
	background-color: #303134;
	color: #f0f0f0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
	padding: 20px;
    box-sizing: border-box;
	justify-content: space-between;
}

img {
	border-radius: 0.5em;
	box-sizing: border-box;
	filter: drop-shadow(0.25em 0.25em 0.5em black);
	max-width: 25em;
}

.center {
    flex: 1;
    word-wrap: break-word;
}


.warning {
	font-weight: bold;
}

.gallery {
	width: 80%;
	height: 800px;
	padding: 5px;
	max-width: 80rem;
  	margin-inline: auto;
  	padding-inline: var(--gutter);
}

.masonry {
  --gutter: 0.25em;
  --flow-space: var(--gutter);
  --switcher-target-container-width: 25rem;
}

.masonry img {
	width: 100%;
}

.switcher {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gutter, 1em);
	align-items: var(--switcher-vertical-alignment, flex-start);
}

.switcher > * {
	flex-grow: 1;
	flex-basis: calc(
		(var(--switcher-target-container-width, 40rem) - 100%) * 999
	);
}

.flow > * + * {
	margin-block-start: var(--flow-space, 1em);
}

h1 {
	color: #fafcff;
	font-family: "union-gothic";
	font-size: 36pt;
}