body {
    font-family: sans-serif;
    background-color: #012;
    color: #afffff
}

.container {
    max-width: 70%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.box {
    width: 100%;
    margin: 5% auto;
    border: 5px double black;
    padding: 10px;
    background-color: #917;
    box-sizing: border-box;
}

.center {
    min-width: 50%;
    width: 50%;
    text-align: left;
    word-wrap: break-word;
}

.sidebar {
    min-width: 25%;
    width: 25%;
}