@font-face {
	font-family: "katwijk-mono";
	src: url("fonts/katwijk-mono-regular.woff2") format("woff2");
	font-weight: normal;
}

@font-face {
	font-family: "katwijk-mono";
	src: url("fonts/katwijk-mono-bold-web.woff2") format("woff2");
	font-weight: bold;
}

@font-face {
	font-family: "union-gothic";
	src: url("fonts/union_gothic.woff2") format("woff2-variations");
	font-weight: 100 900;
}


body {
    font-family: "katwijk-mono", serif;
	background-color: #303134;
	color: #f0f0f0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
	padding: 20px;
    box-sizing: border-box;
	align-items: center;
	flex-direction: column;
	gap: 1em;
}

img {
	width: 100%;
	border-radius: 0.5em;
	box-sizing: border-box;
	filter: drop-shadow(0.25em 0.25em 0.5em black);
}

.gallery {
	align-self: center;
	max-width: 80%;
	padding: 5px;
  	margin-inline: auto;
  	padding-inline: var(--gutter);
}

.masonry {
  --gutter: 0.25em;
  --flow-space: var(--gutter);
  --switcher-target-container-width: 25rem;
}

.masonry img {
	width: 100%;
}

.switcher {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gutter, 1em);
	align-items: var(--switcher-vertical-alignment, flex-start);
}

.switcher > * {
	flex-grow: 1;
	flex-basis: calc(
		(var(--switcher-target-container-width, 40rem) - 100%) * 999
	);
}

.flow > * + * {
	margin-block-start: var(--flow-space, 1em);
}

h1 {
	color: #fafcff;
	font-family: "union-gothic";
	font-size: 36pt;
}

a {
	width: 100%;
	color:#F59D9E;
	transition: 0.3s ease;
}

a:hover {
	color: #F16062;
}

.tile {
	width: 60%;
	aspect-ratio: 3 / 1;
	overflow: hidden;
	border-radius: 0.5em;
	filter: drop-shadow(0.25em 0.25em 0.5em black);
	transition: all 0.3s ease;
}

.tile:hover {
	aspect-ratio: 2 / 1;
}

.tile img {
	border-radius: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	display: block;
	filter: grayscale(70%);
}

.tile:hover img {
	filter: grayscale(0%);
}

.tile h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 0.125em 0.125em 0.25em black;
}

.box {
    max-width: 1200px;
    margin: 0 auto;
	padding: 20px;
    box-sizing: border-box;
}