body {
    font-family: sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
	padding: 20px;
    box-sizing: border-box;
}

.box {
	width: 80%;
    margin: 10% auto;
    border: 5px double #213;
    padding: 10px;
    box-sizing: border-box;
}

img {
	height: 100%;
	box-sizing: border-box;
	object-fit: contain;
	border-radius: 5px;
	filter: drop-shadow(2px 2px 4px black);
}

.center {
    flex: 1;
    word-wrap: break-word;
}

.sidebar {
    flex: 0 0 25%;
}


.warning {
	font-weight: bold;
}

.scroll {
	width: 80%;
	height: 800px;
	overflow: hidden;
	padding: 10px;
	border: 1px, solid, black;
}

.row {
	position: relative;
	height:200px;
	display: flex;
	gap: 1%;
	justify-content: space-around;
}

.photo {
	height: 200px;
	width: auto;
}