body {
	background-image: url("galaxy.jpeg");
	background-repeat: repeat;
    font-family: sans-serif;
    color: #afffff
}

a {
	color: #44ff66
}

.container {
    max-width: 100%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.box {
    width: 80%;
    margin: 10% auto;
    border: 5px double black;
    padding: 10px;
    background-color: #917;
    box-sizing: border-box;
}

.center {
    width: 50%;
    text-align: left;
    word-wrap: break-word;
}

.sidebar {
    width: 25%;
}