body {
    font-family: sans-serif;
}

body.night {
	color: #afffff;
	background-image: url("galaxy.jpeg");
	background-repeat: repeat;
}

body.day {
	background-color: #bEF;
}

body.night a {
	color: #44ff66
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
	padding: 20px;
    box-sizing: border-box;
}

.box {
	width: 80%;
    margin: 10% auto;
    border: 5px double black;
    padding: 10px;
    box-sizing: border-box;
}

body.night .box {
    background-color: #917;
}

body.day .box {
	background-color: #fffdfa;
}

.center {
    flex: 1;
    word-wrap: break-word;
}

.sidebar {
    flex: 0 0 25%;
}

.warning {
	font-weight: bold;
}

body.night .warning {
	color: yellow;
}

body.day .warning {
	color: red;
}